@use '../styles/variables' as *;

.dafitiStructure * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // scroll-margin-top: 95px;
}

:focus {
    outline: none;
}

.dafitiStructure {
    font-size: 62.5%;
    margin: 0 auto;
    text-wrap: pretty;
}

.text {
    color: $black;
    line-height: 1.4;
    font-size: 4.2vw;
    font-family: $bask;
    font-weight: 300;

    b {
        font-weight: 700;
    }
}

.subtext {
    font-size: 3.2vw;
}

.btn-padrao {
    background-color: $color01;
    border: solid .2em $color01;
    padding: 1vw 5vw;
    border-radius: 10vw;
    box-shadow: .2em .1em .2em #0003;
    text-decoration: none !important;
    transition-duration: .3s;
    backdrop-filter: blur(.1em);
    cursor: pointer;

    p {
        color: $white;
        font-family: $poppins;
        text-decoration: none !important;
    }

    &:hover {
        background-color: rgba($color: $white, $alpha: .3);
        p {
            color: $color01;
        }
    }
}