include views/imports

doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Estrutura Dafiti
        link(rel="stylesheet" href="styles/main.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css")

    body(style="box-sizing: border-box; margin: 0; padding: 0;")
        .dafitiStructure
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&family=Baskervville:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

            <button class="close-button" aria-label="Fechar" title="Fechar" onclick="try{braze.bridge.closeMessage()}catch(e){try{appboyBridge.closeMessage()}catch(e2){document.body.style.display='none';}}">&times;</button>

            section.capa
                .flexTitle
                    h1(tabindex="0") color<span>imetria</span>
                    img(src="https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_23_10_06_21_logotipo.svg", alt="")
                .boxLinkSeo
                    p.text(tabindex="0") Descubra sua paleta de <b>coloração pessoal</b> na <b>dafiti</b>
                    //- a.linkSeo(href="#seo" tabindex="-1")
                        p.text saiba mais
                a.btn-padrao.iniciarTeste
                    p.text faça o teste
                img.personas(src="https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_16_14_59_33_image_1_1.png", alt="")

            section.quiz#quiz.hide
                +buzzfeedQuiz([
                    {
                        text: 'Com qual dessas opções a <b>cor do seu cabelo</b> mais se parece?',
                        subtext: 'Pense na <b>cor natural</b>, antes de tinta ou luzes. Se não lembra, vale uma foto antiga!',
                        options: [
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_43_57_Frame_7.png', 
                                text: 'Loiro claro',
                                alt: 'Loiro claro', 
                                feedback: 'verao' 
                            },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_43_59_Frame_8.png', text: 'Loiro dourado', alt: 'Loiro dourado', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_43_43_Frame_1.png', text: 'Castanho claro', alt: 'Castanho claro', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_43_52_Frame_5.png', text: 'Castanho médio', alt: 'Castanho médio', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_43_48_Frame_3.png', text: 'Castanho escuro', alt: 'Castanho escuro', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_44_01_Frame_10.png', text: 'Preto', alt: 'Preto', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_44_05_Frame_12.png', text: 'Ruivo', alt: 'Ruivo', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_44_12_Frame_9.png', text: 'Loiro platinado', alt: 'Loiro platinado', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_43_55_Frame_6.png', text: 'Loiro acinzentado', alt: 'Loiro acinzentado', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_43_50_Frame_4.png', text: 'Castanho avermelhado', alt: 'Castanho avermelhado', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_44_03_Frame_11.png', text: 'Preto azulado', alt: 'Preto azulado', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_43_45_Frame_2.png', text: 'Castanho dourado', alt: 'Castanho dourado', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_44_08_Frame_13.png', text: 'Ruivo acobreado', alt: 'Ruivo acobreado', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_44_10_Frame_14.png', text: 'Ruivo escuro', alt: 'Ruivo escuro', feedback: 'outono' }
                        ]
                    },
                    {
                        text: 'Qual opção mais se parece com a <b>cor dos seus olhos</b>?',
                        subtext: 'Olhe de perto no espelho (sem lente!). Se tiver mistura de cores, vai na que <b>mais aparece</b>.',
                        options: [
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_40_Frame_12.png', alt: 'Azul', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_22_Frame_3.png', alt: 'Verde', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_43_Frame_9.png', alt: 'Castanho claro', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_31_Frame_7.png', alt: 'Castanho médio', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_34_Frame_8.png', alt: 'Castanho escuro', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_27_Frame_5.png', alt: 'Mel/Âmbar', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_29_Frame_6.png', alt: 'Cinza', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_38_Frame_11.png', alt: 'Azul acinzentado', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_25_Frame_4.png', alt: 'Verde oliva', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_20_Frame_2.png', alt: 'Preto', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_18_Frame_1.png', alt: 'Verde água', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_14_53_36_Frame_10.png', alt: 'Azul profundo', feedback: 'inverno' }
                        ]
                    },
                    {
                        text: 'Qual tom representa melhor a <b>cor da sua pele</b>?',
                        subtext: 'Considere sua pele sem maquiagem e sem bronze. Aquela <b>cor real do dia a dia</b>.',
                        options: [
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_30_Frame_5.png', alt: 'Muito clara', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_43_Frame_12.png', alt: 'Clara', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_45_Frame_9.png', alt: 'Média', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_22_Frame_1.png', alt: 'Oliva', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_34_Frame_7.png', alt: 'Morena', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_26_Frame_3.png', alt: 'Negra', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_38_Frame_10.png', alt: 'Clara rosada', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_41_Frame_11.png', alt: 'Clara amarelada', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_32_Frame_6.png', alt: 'Morena dourada', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_36_Frame_8.png', alt: 'Morena acinzentada', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_24_Frame_2.png', alt: 'Negra profunda', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_07_28_Frame_4.png', alt: 'Pêssego', feedback: 'primavera' }
                        ]
                    },
                    {
                        text: 'Qual dessas alternativas melhor representa o <b>seu subtom de pele</b>?',
                        subtext: 'Subtom é a cor que fica por baixo da pele. Dica pra descobrir: olhe pro seu pulso: <b>veias verdes = quente, azuis = frio. Ficou em dúvida? Provavelmente é neutro</b>!',
                        options: [
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_23_Frame_1.png',    
                                alt: 'Pele muito clara com subtom frio',    
                                feedback: 'inverno' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_48_Frame_10.png',   
                                alt: 'Pele média com subtom frio',    
                                feedback: 'verao' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_42_Frame_7.png',    
                                alt: 'Pele média com subtom neutro',   
                                feedback: 'outono' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_14_01_Frame_9.png',    
                                alt: 'Pele média com subtom quente',     
                                feedback: 'inverno' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_45_Frame_8.png',    
                                alt: 'Pele oliva com subtom quente',   
                                feedback: 'outono' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_39_Frame_6.png',    
                                alt: 'Pele morena com subtom quente',     
                                feedback: 'primavera' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_51_Frame_11.png',   
                                alt: 'Pele negra com subtom frio',    
                                feedback: 'inverno' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_55_Frame_13.png',   
                                alt: 'Pele negra com subtom neutro',   
                                feedback: 'inverno' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_53_Frame_12.png',   
                                alt: 'Pele negra com subtom quente',   
                                feedback: 'outono' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_59_Frame_15.png',   
                                alt: 'Pele negra profunda com subtom quente',     
                                feedback: 'primavera' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_57_Frame_14.png',   
                                alt: 'Pele negra profunda com subtom frio',   
                                feedback: 'inverno' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_33_Frame_4.png', 
                                alt: 'Pele clara com subtom frio', 
                                feedback: 'verao' 
                            },
                            {   
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_26_Frame_2.png',   
                                alt: 'Pele clara com subtom neutro', 
                                feedback: 'verao' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_36_Frame_5.png', 
                                alt: 'Pele clara com subtom quente', 
                                feedback: 'primavera' 
                            },
                            { 
                                image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_13_29_Frame_3.png',    
                                alt: 'Pele muito clara com subtom quente',  
                                feedback: 'outono'  
                            },
                            
                        ]
                    },
                    {
                        text: 'Como você descreveria a <b>relação</b> entre a cor da sua pele, cabelo e olhos?',
                        subtext: '<b>Repare no contraste</b>: se as cores são todas claras ou todas escuras, seu contraste é baixo. Se alguma for diferente, é alto!',
                        options: [
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_19_08_Frame_5.png', alt: 'Baixo contraste (cabelo, olhos e pele claros)', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_19_06_Frame_4.png', alt: 'Baixo contraste (cabelo, olhos e pele escuros)', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_19_10_Frame_6.png', alt: 'Alto contraste (cabelo e olhos escuros, pele clara)', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_19_12_Frame_7.png', alt: 'Alto contraste (cabelo e olhos claros, pele escura)', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_19_00_Frame_1.png', alt: 'Contraste médio (cabelo escuro, pele média, olhos claros)', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_19_02_Frame_2.png', alt: 'Contraste médio (cabelo claro, pele clara, olhos escuros)', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_18_58_a-contrastnew.jpg', alt: 'Contraste médio (cabelo escuro, pele média, olhos escuros)', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_19_04_Frame_3.png', alt: 'Contraste alto (pele negra, olhos claros)', feedback: 'inverno' }
                        ]
                    },
                    {
                        text: 'Como <b>sua pele reage ao sol</b>?',
                        subtext: 'Você bronzeia fácil ou fica vermelha? Pensa no que rola <b>quando pega sol sem protetor</b>.',
                        options: [
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_24_14_Frame_5.png', alt: 'Bronzeia facilmente, quase não queima', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_24_08_Frame_3.png', alt: 'Queima e depois bronzeia', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_24_05_Frame_2.png', alt: 'Queima e descasca, dificilmente bronzeia', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_24_11_Frame_4.png', alt: 'Não bronzeia, só queima', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_24_20_Frame_7.png', alt: 'Bronzeia lentamente, mas não queima', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_24_02_Frame_1.png', alt: 'Queima rapidamente, nunca bronzeia', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_24_17_Frame_6.png', alt: 'Bronzeia rapidamente e fica dourada', feedback: 'primavera' }
                        ]
                    },
                    {
                        text: 'Você tem <b>sardas naturais</b> visíveis?',
                        subtext: 'Naturais mesmo, hein? <b>Nada de make!</b> Se aparecem sempre, escolhe a cor. Se não, é “não tenho”.',
                        options: [
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_27_37_Frame_4.png', alt: 'Não tenho', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_27_31_Frame_1.png', alt: 'Sim, e são douradas', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_27_35_Frame_3.png', alt: 'Sim, e são acinzentadas', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_27_33_Frame_2.png', alt: 'Sim, e são avermelhadas', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_27_37_Frame_4.png', alt: 'Não tenho', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_27_31_Frame_1.png', alt: 'Sim, e são douradas', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_27_35_Frame_3.png', alt: 'Sim, e são acinzentadas', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_27_33_Frame_2.png', alt: 'Sim, e são avermelhadas', feedback: 'outono' },
                        ]
                    },
                    {
                        text: 'A <b>cor das suas sobrancelhas</b> é mais próxima de qual dessas opções?',
                        subtext: 'Olhe pra sobrancelha <b>natural, sem lápis ou henna</b>. Qual cor parece mais?',
                        options: [
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_27_Frame_5.png', alt: 'Loiro', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_36_Frame_9.png', alt: 'Castanho claro', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_31_Frame_7.png', alt: 'Castanho médio', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_43_Frame_12.png', alt: 'Castanho escuro', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_25_Frame_4.png', alt: 'Preto', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_22_Frame_3.png', alt: 'Ruivo', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_29_Frame_6.png', alt: 'Loiro escuro', feedback: 'verao' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_33_Frame_8.png', alt: 'Castanho dourado', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_41_Frame_11.png', alt: 'Castanho acinzentado', feedback: 'outono' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_20_Frame_2.png', alt: 'Preto azulado', feedback: 'inverno' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_18_Frame_1.png', alt: 'Ruivo claro', feedback: 'primavera' },
                            { image: 'https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_26_15_30_38_Frame_10.png', alt: 'Castanho avermelhado', feedback: 'outono' }
                        ],
                        isBonus: true
                    }
                    ], {
                    verao: `
                        <h4 tabindex="0">A sua cartela de cores é de Verão</h4>
                        <p class="text" tabindex="0">Sua paleta é a de Verão, composta por <b>cores frias, suaves e claras</b>. Conheça a seleção de produtos nos tons da sua cartela feita pela Dafiti para iluminar seu visual e destacar sua beleza delicada.</p>
                        <a tabindex="0" class="link btn-estacao" href="https://www.dafiti.com.br/moda/colorimetria/paleta-verao/", rel="noopener noreferrer" data-content-id="verao-feedback">
                            <p class="text">Paleta de Verão: Leveza, Sofisticação e Harmonia para seus Looks</p>
                            <button type="button" class="btn-padrao">
                                <p class="text">clique e confira</p>
                            </button>
                            <div class="boxImgModal">
                                <img class="imgModal" src="https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_16_10_40_43_Frame_39.png">
                            </div>
                        </a>
                    `,
                    inverno: `
                        <h4 tabindex="0">A sua cartela de cores é de Inverno</h4>
                        <p class="text" tabindex="0">Sua paleta é a de Inverno, com <b>cores frias, profundas e intensas</b>. Conheça a seleção de produtos nos tons da sua cartela feita pela Dafiti para realçar seu contraste natural.</p>
                        <a tabindex="0" class="link btn-estacao" href="https://www.dafiti.com.br/moda/colorimetria/paleta-inverno/", rel="noopener noreferrer" data-content-id="inverno-feedback">
                            <p class="text">Descubra o poder da paleta de inverno: cores que fazem você brilhar!</p>
                            <button type="button" class="btn-padrao">
                                <p class="text">clique e confira</p>
                            </button>
                            <div class="boxImgModal">
                                <img class="imgModal" src="https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_16_10_40_50_Frame_41.png">
                            </div>
                        </a>
                    `,
                    outono: `
                        <h4 tabindex="0">A sua cartela de cores é de Outono</h4>
                        <p class="text" tabindex="0">Você pertence à paleta de Outono, que é marcada por <b>cores quentes, suaves e terrosas</b>. Descubra a seleção de produtos nos tons da sua cartela feita pela Dafiti para realçar sua beleza natural.</p>
                        <a tabindex="0" class="link btn-estacao" href="https://www.dafiti.com.br/moda/colorimetria/paleta-outono/", rel="noopener noreferrer" data-content-id="outono-feedback">
                            <p class="text">A Magia da Paleta de Outono: Cores que te Abraçam!</p>
                            <button type="button" class="btn-padrao">
                                <p class="text">clique e confira</p>
                            </button>
                            <div class="boxImgModal">
                                <img class="imgModal" src="https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_16_10_40_47_Frame_40.png">
                            </div>
                        </a>
                    `,
                    primavera: `
                        <h4 tabindex="0">A sua cartela de cores é de Primavera</h4>
                        <p class="text" tabindex="0">Você pertence à paleta de Primavera, caracterizada por <b>cores quentes, claras e vibrantes</b>. Visite a seleção de produtos nos tons da sua cartela feita pela Dafiti para realçar sua beleza radiante.</p>
                        <a tabindex="0" class="link btn-estacao" href="https://www.dafiti.com.br/moda/colorimetria/paleta-primavera/", rel="noopener noreferrer" data-content-id="primavera-feedback">
                            <p class="text">Desperte Sua Beleza com as Cores da Primavera: a Paleta para Iluminar!</p>
                            <button type="button" class="btn-padrao">
                                <p class="text">clique e confira</p>
                            </button>
                            <div class="boxImgModal">
                                <img class="imgModal" src="https://dafitistatic.dafiti.com.br/cms/colorimetria-br/2025_06_16_10_40_53_Frame_42.png">
                            </div>
                        </a>
                    `
                })

    script(src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.js")
    script(src="js/main.js")
